.jobs-wrapper {
    position: relative;
    z-index: 2;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $blue;

    @include sm {
        min-height: 0px;
        padding-top: 1em;
    }

    @include md {
        min-height: 0px;
        padding-top: 1em;
    }

    .bg {
        position: absolute;
        z-index: -4;
        top: -7rem;
        left: 0;
        width: 100%;
        min-height: 550px;
        filter: opacity(1);
        border-bottom: 1px solid darken($orange, 15%);

        @include sm {
            top: 0rem;
            min-height: 400px;
        }

        @include md {
            top: 0rem;
            min-height: 400px;
            width: 100vw;
            overflow-x: hidden;
        }

        &::before {
            content: "";
            position: absolute;
            // z-index: -3;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('./img/front-full-min.jpg') no-repeat;
            background-size: 100%;
            background-position: top -70px right;
            filter: opacity(0.3);
            background-attachment: absolute;

            @include sm {
                background-position: top center;
                background-size: cover;
            }

            @include md {
                background-position: center center;
                width: 110vw;
            }
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background: -moz-linear-gradient(to bottom, rgba($blue, 00%) 100%, $blue);
            background: -webkit-linear-gradient(to bottom, rgba($blue, 00%) 100%, $blue);
            background: linear-gradient(to bottom, rgba($blue, 00%) 100%, $blue);
        }
    }

    .jobs {
        padding-top: 4.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 1050px;
        margin: 0 auto;

        hr {
            width: 90%;
            margin: 0 auto;
        }

        h1 {
            text-align: center;
            align-self: center;
        }

        p {
            text-align: center;
            font-weight: 300;
        }

        .job-cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 1050px;
            margin: 0 auto;

            @include sm {
                width: 100%;
            }

            @include md {
                width: 100%;
            }

            .job {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background: $white;
                color: $blue;
                width: 100%;
                padding: 1.5em 1.5em;
                transition: ease all 200ms;

                &:nth-child(2n) {
                    background: rgb(233, 233, 233);
                }

                &::before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    box-shadow: 0px 0px;
                    transition: ease all 200ms;
                }

                &::after {
                    content: "";
                    position: absolute;
                    z-index: -2;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    transition: ease all 200ms;
                }

                &:hover {
                    transform: translate(-10px, -10px);
                    box-shadow: 0px 0px;
                    cursor: default;

                    &::before {
                        box-shadow: 6px 6px $lavender;
                    }

                    &::after {
                        box-shadow: 10px 10px $orange;
                    }
                }

                @include sm {
                    flex-direction: column;
                    flex-wrap: wrap;
                    padding: 1em 1em;

                    &:nth-child(2n) {
                        background: $white;
                    }

                    &+.job {
                        margin-top: 1em;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100%;
                        box-shadow: 0px 0px;
                        transition: ease all 200ms;
                        box-shadow: 6px 6px $lavender;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        z-index: -2;
                        top: 0px;
                        left: 0px;
                        box-shadow: 10px 10px $orange;
                        width: 100%;
                        height: 100%;
                        transition: ease all 200ms;
                    }

                    &:hover {
                        transform: none;
                    }
                }



                .job-left {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    align-content: center;

                    @include sm {
                        flex-direction: column;
                        flex-wrap: wrap;
                        align-self: stretch;
                    }

                    span {
                        background: rgba($lighter-blue, 75%);
                        color: $white;
                        padding: 5px 8px;
                        margin: 10px 0px;
                        font-size: 10pt;

                        @include sm {
                            margin: 5px 0;
                            // align-self: stretch;
                        }

                        i {
                            font-size: inherit;
                            border-radius: 0px;
                            padding: 0px;
                            display: inline;
                            border: none;
                            margin-right: 5px;
                            color: rgba($orange, 85%);

                        }

                        &+span {
                            margin-left: 10px;

                            @include sm {
                                margin: 5px 0;
                                // align-self: stretch;
                            }
                        }
                    }

                    i {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        font-size: 30pt;
                        margin-right: 20px;
                        padding: 5px;
                        border: 2px solid $orange;
                        border-radius: 100px;
                        width: 60px;
                        height: 60px;
                    }

                    .job-info {

                        h3 {
                            margin-top: 0px;
                            margin-bottom: 10px;
                            font-size: 15pt;

                            @include sm {
                                display: block;
                                margin: 0.5em 0;
                                text-align: center;

                            }
                        }

                        .factors {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;

                            @include sm {
                                justify-content: center;
                                margin-bottom: 0.5em;

                                span {
                                    font-size: 9pt;
                                    padding: 5px 4px;

                                    i {
                                        margin-right: 3px;
                                    }

                                    &+span {
                                        margin-left: 5px;
                                    }
                                }
                            }
                        }

                        @include sm {
                            display: flex;
                            flex-direction: column;
                            align-content: center;
                        }
                    }
                }

                .job-right {
                    .learnmore {
                        @include sm {
                            button {
                                align-self: stretch;
                            }
                        }
                    }
                }
            }
        }
    }

    .talent {
        padding-bottom: 1.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 1050px;
        margin: 0 auto;

        @include sm {
            width: 100%;
        }

        @include md {
            max-width: inherit;
            width: 100%;
        }

        .talent-jobs {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 1050px;
            margin: 0 auto;

            @include sm {
                width: 90vw;
            }

            @include md {
                width: 90vw;
            }

            .subheader {
                width: 100%;
                margin: 1em 0 0.5em 0;
                text-align: left;
            }


            .accordion {
                background: linear-gradient(140deg, $lighter-blue, lighten($blue, 5%));
                color: $white;
                border: 2px rgba(255, 255, 255, 0.351) solid;
                cursor: pointer;
                padding: 18px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 15px;
                transition: ease all;

                &:hover {
                    background: linear-gradient(140deg, lighten($lighter-blue, 5%), lighten($blue, 10%));
                }
            }

            .active,
            .accordion:hover {
                background: linear-gradient(140deg, lighten($lighter-blue, 5%), lighten($blue, 10%));
            }

            .accordion:after {
                content: '\002B';
                color: rgba($white, 75%);
                font-weight: bold;
                float: right;
                margin-left: 5px;
            }

            .active:after {
                content: "\2212";
            }

            .panel {
                display: flex;
                flex-wrap: wrap;
                align-items: stretch;
                background-color: $white;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.4s ease-out;
                width: 100%;


                a {
                    flex: 1 30%;
                    font-size: 10pt;
                    font-weight: 400;
                    padding: 10px;
                    background: rgb(210, 210, 210);
                    color: $blue;
                    margin: 10px;

                    &:hover {
                        background: rgb(225, 225, 225);

                    }

                    @include sm {
                        flex: 1 100%;
                        margin: 5px 10px;

                        &:first-child {
                            margin: 10px 10px 5px 10px;
                        }

                        &:last-child {
                            margin: 5px 10px 10px 10px;
                        }
                    }
                }

                &:nth-child(2) {
                    transition: max-height 0.3s ease-out;
                }
            }

            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                // box-shadow: 6px 6px $lavender;
                transition: ease all 200ms;

            }

            &::after {
                content: "";
                position: absolute;
                z-index: -2;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                // box-shadow: 10px 10px $orange;
                transition: ease all 200ms;
            }
        }


    }
}