@import 'tech';

header {
    padding-top: 2em;
    position: relative;

    .header-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        z-index: 3;
        position: relative;

        nav,
        .menu {
            flex: 1;
            text-transform: uppercase;
            font-weight: 400;
            // background: $white;
            padding: 0.5em 1em;
            // border-radius: 100px;
            // box-shadow: black 3px 3px;
            // border-bottom: 2px solid $lavender;

            .active {

                &::before {
                    content: "•" !important;
                    position: absolute;
                    left: 50%;
                    top: -20px;
                    color: $orange;
                    // font-weight: 900;
                }
            }

            a {
                position: relative;
                text-decoration: none;
                color: $white;
                transition: color .3s ease;

                &:hover {
                    color: $orange;
                }


            }

            .page-link+.page-link {
                margin-left: 20px;
            }
        }

        nav {
            a {
                &::after {
                    --scale: 0;

                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 100%;
                    height: 3px;
                    background: $orange;
                    transform: scaleX(var(--scale));
                    transform-origin: var(--x) 50%;
                    transition: transform .3s cubic-bezier(.535, .05, .355, 1);
                }

                &:hover {
                    color: $orange;
                }

                &:hover::after {
                    --scale: 1;
                }
            }

            #jobs-link {
                position: relative;
                display: inline;

                .dropdown-wrapper {
                    filter: opacity(0);
                    position: absolute;
                    background-color: transparent;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    border-top: 1em solid rgba(255, 255, 255, 0);
                    z-index: 1;
                    left: 0px;
                    transition: ease all 230ms;
                    pointer-events: none;

                    .jobs-dropdown {
                        padding: 1em;
                        min-width: 200px;
                        display: flex;
                        flex-direction: column;
                        background-color: rgba($lighter-blue, 75%);
                        border: 2px solid $orange;
                        position: relative;
// border-top:8px solid $orange;
                        a+a {
                            margin-top: 10px;
                        }

                        // &::before {
                        //     position: absolute;
                        //     z-index: 2;
                        //     top: 0px;
                        //     left: 0px;
                        //     content: '';
                        //     height:5px;
                        //     width:30px;
                        //     background: $orange;
                        // }
                    }
                }

                &:hover {
                    color: $orange;

                    .dropdown-wrapper {
                        filter: opacity(1);
                        pointer-events: all;
                    }
                }
            }
        }

        .menu {
            display: flex;
            justify-content: flex-end;

            a {
                display: flex;
                flex-direction: row;
                align-items: center;

                i {
                    margin-right: 8px;
                }

                &+a {
                    margin-left: 20px;

                }
            }

        }

        svg {
            max-width: 200px;
            flex-grow: 1;
        }
    }
}

main {
    min-height: 600px;
}

.overview {
    position: relative;
    height: auto;
    background: $blue;

    .calltoaction {
        position: relative;
        margin-top: -7.5em;
        min-height: 108vh;
        // max-height:1200px;
        z-index: 2;
        top: 0px;
        width: 100%;
        background: $lighter-blue;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        background: url('./img/bridge_v2.jpg') no-repeat;
        background-size: 100%;
        background-position: bottom left;

        // background-attachment: fixed;
        #illustration {
            background-color: $lighter-blue;
            width: 100%;
            height: auto;
            display: block;
            // overflow: hidden;
            transform: translate3d(0, 0, 0);
            text-align: center;
            opacity: 1;
            z-index: -1;
            // top:-5em;
            position: absolute;
        }

        .content-wrapper {
            // background: red;
            height: auto;
            width: 100%;
            display: flex;
            justify-content: flex-start;

            .content {
                // background: lime;
                max-width: 500px;
                padding: 2em 3em;
                border: 6px solid $white;
                background: rgba($blue, 85%);

                p {
                    margin-bottom: 1.5em;
                    line-height: 18pt;
                }
            }
        }
    }

    .main-cards {
        margin-top: -6em;
        // padding: 3em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 3;

        h2 {
            // margin-top: -2em;
        }

        .cards {
            display: inherit;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: space-around;
            width: 100%;

            .card {
                flex-grow: 1;
                flex: 1 1 30%;
                min-width: 280px;
                max-width: 400px;
                min-height: 50px;
                background: linear-gradient(140deg, $lighter-blue, lighten($blue, 5%));
                // background: $lighter-blue;
                display: flex;
                flex-direction: column;
                padding: 3em 1.5em 2em 1.5em;
                overflow: hidden;
                position: relative;
                border: 4px solid $blue;
                transition: ease all 230ms;
                cursor: pointer;
                // &:nth-child(1) {
                //     background: linear-gradient(140deg, $lighter-blue, lighten($blue, 5%));
                // }

                h4 {
                    font-size: 20pt;
                    line-height: 10pt;
                    margin: 1em 0;
                    text-align: center;
                }

                p {
                    text-align: center;
                    margin: 0 2em;
                    line-height: 16pt;
                    // padding: 0 30%;
                }

                .fa-cog {
                    position: absolute;
                    font-size: 11em;
                    line-height: 0pt;
                    left: -.5em;
                    top: 10px;
                    transition: ease all 3s;
                    color: rgba($white, 10%);
                }

                .code-symbol {
                    position: absolute;
                    color: rgba($white, 10%);
                    top: -20px;
                    left: -15px;
                    font-size: 75pt;
                    font-weight: 800;
                    letter-spacing: -8pt;
                    transition: ease all 1.5s;

                }

                .bulbs {
                    transform: rotate(180deg);
                    position: absolute;
                    font-size: 8em;
                    line-height: 0pt;
                    left: 0.7em;
                    top: 1em;
                    transition: ease all 1s;
                    color: rgba($white, 10%);

                    i {
                        position: absolute;

                        &.far {
                            filter: opacity(1);
                            transition: ease all 1s;
                        }

                        &.fas {
                            filter: opacity(0);
                            transition: ease all 1s;

                        }
                    }
                }

                &:hover {
                    border-color: $orange;

                    .fa-cog {
                        transform: rotate(70deg);
                    }

                    .code-symbol {
                        letter-spacing: -10pt;
                        transform: rotate(10deg);
                    }

                    .bulbs {
                        i {
                            transform: translateY(10px);

                            &.far {
                                filter: opacity(0);
                            }

                            &.fas {
                                filter: opacity(1);

                            }
                        }
                    }
                }

                &+.card {
                    margin-left: 1em;
                }
            }
        }
    }

    .beginnings {
        position: relative;
        border-left: 2px solid $lighter-blue;

        .about-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            // align-items: flex-start;
            position: relative;
        }

        // .pics-wrapper {}

        .pics {
            top: 0px;
            background: $orange;
            flex: 1 30%;
            margin-right: 1em;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            max-width: 500px;
            align-self: stretch;
            background: url('./img/front.jpg') no-repeat;
            background-size: cover;
            background-position: top center;
            background-attachment: scroll;
        }

        .about {
            // margin: 0 auto;
            // background: lighten($blue, 5%);
            max-width: 900px;
            padding: 3em 4em;
            flex: 1 70%;

            p {
                line-height: 18pt;
                margin-top: 1em;

                a {
                    background: $lighter-blue;
                    padding: 3px 5px;
                    color: $orange;
                    transition: ease all 230ms;

                    &:hover {
                        color: $white;
                    }
                }

                &+p {
                    margin-top: 1.5em;
                }
            }
        }

        &::after {
            position: absolute;
            content: "";
            bottom: 0px;
            height: 2px;
            background: -moz-linear-gradient(to right, $lighter-blue, $blue);
            background: -webkit-linear-gradient(to right, $lighter-blue, $blue);
            background: linear-gradient(to right, $lighter-blue, $blue);
            width: 100%;
        }
    }

    .cool-culture {
        position: relative;
        border-right: 2px solid $lighter-blue;

        h2 {
            .head_actually {
                display: block;
                // margin-left: 2em;
                color: rgba($white, 25%);
            }
        }

        .cool-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            // align-items: flex-start;
            position: relative;
        }

        // .pics-wrapper {
        //     position: absolute;
        //     top: 0;
        //     left: -240px;
        // }

        .pics {
            order: 2;
            top: 0px;
            right: 0px;
            background: $orange;
            flex: 1 30%;
            margin-left: 1em;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            max-width: 500px;
            align-self: stretch;
            background: url('./img/randy.jpg') no-repeat;
            background-size: cover;
            background-position: top center;
            background-attachment: scroll;
        }

        .cool {
            // margin: 0 auto;
            // background: lighten($blue, 5%);
            max-width: 900px;
            padding: 3em 4em;
            flex: 1 70%;

            p {
                line-height: 18pt;
                margin-top: 1em;

                a {
                    background: $lighter-blue;
                    padding: 3px 5px;
                    color: $orange;
                    transition: ease all 230ms;

                    &:hover {
                        color: $white;
                    }
                }

                &+p {
                    margin-top: 1.5em;
                }
            }
        }

        &::after {
            position: absolute;
            content: "";
            bottom: 0px;
            height: 2px;
            background: -moz-linear-gradient(to left, $lighter-blue, $blue);
            background: -webkit-linear-gradient(to left, $lighter-blue, $blue);
            background: linear-gradient(to left, $lighter-blue, $blue);
            width: 100%;
        }
    }


    .jobs-calltoaction {
        display: flex;
        // background: lighten($blue, 5%);
        // justify-content: center;
        position: relative;
        overflow: none;
        padding: 3em 0em;

        .jobs-wrapper {
            display: inherit;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 100%;

            .content {
                text-align: center;

                h3 {
                    margin-top: 1em;

                }
            }

            .jobs-cta {
                button {
                    transform: scale(1.75);
                }
            }
        }

        &::after {
            position: absolute;
            content: "";
            bottom: 0px;
            height: 2px;
            background: -moz-radial-gradient(to center, $lighter-blue, $blue);
            background: -webkit-radial-gradient(to right, $lighter-blue, $blue);
            background: radial-gradient($lighter-blue, $blue 75%);
            width: 100%;
        }
    }
}

.who-we-are {
    position: relative;
    min-height: 100vh;
    z-index: 2;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $blue;

    // margin-top: -10.5em;
    .bg {
        position: absolute;
        z-index: -4;
        top: -7rem;
        left: 0;
        width: 100%;
        min-height: 500px;
        filter: opacity(0.3);
        // mix-blend-mode: darken;
        background: $blue;

        &::before {
            content: "";
            position: absolute;
            z-index: -3;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('./img/groundfloor.jpg') no-repeat;
            background-size: 100%;
            background-position: top -40em center;
            // filter: grayscale(100%);
            // filter: hue-rotate(240deg);
        }

        &::after {
            content: "";
            position: absolute;
            z-index: -2;
            // top: -15.5em;
            left: 0;
            width: 100%;
            height: 100%;
            background: -moz-linear-gradient(to bottom, rgba($blue, 00%) 60%, $blue);
            background: -webkit-linear-gradient(to bottom, rgba($blue, 00%) 60%, $blue);
            background: linear-gradient(to bottom, rgba($blue, 00%) 60%, $blue);
        }
    }

    .staff {
        position: relative;
        margin-top: 5em !important;
        display: flex;
        flex-direction: column;
        max-width: 1100px;
        margin: 0 auto;

        hr {
            width: 90%;
            margin: 0 auto;
        }

        h1 {
            text-align: center;
            align-self: center;
        }

        .staff-cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            .card {
                position: relative;
                flex: 1 33%;
                height: 300px;
                overflow: hidden;
                max-width: 320px;
                margin: 1em;

                h3 {
                    position: absolute;
                    z-index: 2;
                    bottom: 20px;
                    left: 20px;
                    // transform: translateY(200px);
                    transition: ease all 230ms;
                    background: $orange;
                    padding: 10px;
                }

                h5 {
                    font-size: 11pt;
                    font-weight: 200;
                    position: absolute;
                    z-index: 3;
                    bottom: 20px;
                    left: 20px;
                    transform: translateY(130px);
                    transition: ease all 230ms;
                    // background: black;
                    text-shadow: 2px 2px black;
                    // padding: 10px;
                }

                img {
                    position: relative;
                    z-index: 1;
                    object-fit: contain;
                    width: 100%;
                }

                &:hover {
                    h3 {
                        transform: translateY(-30px);
                    }

                    h5 {
                        transform: translateY(0px);
                    }
                }
            }
        }


    }
}

.jobs-wrapper {
    position: relative;
    // min-height: 100vh;
    z-index: 2;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $blue;

    // justify-content: center;
    // margin-top: -10.5em;
    .bg {
        position: absolute;
        z-index: -4;
        top: -7rem;
        left: 0;
        width: 100%;
        min-height: 500px;
        filter: opacity(1);
        // mix-blend-mode: darken;

        &::before {
            content: "";
            position: absolute;
            // z-index: -3;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('./img/front-full.jpg') no-repeat;
            background-size: 100%;
            background-position: top -70px right;
            filter: opacity(0.3);
            // filter: grayscale(100%);
            // filter: hue-rotate(240deg);
        }

        &::after {
            content: "";
            position: absolute;
            // z-index: -2;
            // top: -15.5em;
            left: 0;
            width: 100%;
            height: 100%;
            background: -moz-linear-gradient(to bottom, rgba($blue, 00%) 60%, $blue);
            background: -webkit-linear-gradient(to bottom, rgba($blue, 00%) 60%, $blue);
            background: linear-gradient(to bottom, rgba($blue, 00%) 60%, $blue);
        }
    }

    .jobs {
        padding-top: 4.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 1100px;
        margin: 0 auto;

        hr {
            width: 90%;
            margin: 0 auto;
        }

        h1 {
            text-align: center;
            align-self: center;
        }

        p {
            text-align: center;
            font-weight: 300;
        }

        .job-cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            // margin-top: 2em;
            width: 1050px;
            margin: 0 auto;

            .subheader {
                width: 100%;
                margin: 1em 0 0.5em 0;
                text-align: left;
            }

            .job {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background: white;
                color: $blue;
                width: 100%;
                padding: 1.5em 1.5em;
                // box-shadow: 5px 5px $lighter-blue;
                transition: ease all 200ms;

                &:nth-child(2n) {
                    background: rgb(233, 233, 233);
                }

                &::before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    box-shadow: 6px 6px $lavender;
                    transition: ease all 200ms;
                }

                &::after {
                    content: "";
                    position: absolute;
                    z-index: -2;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    box-shadow: 10px 10px $orange;
                    transition: ease all 200ms;
                }

                &:hover {
                    transform: translate(10px, 10px);
                    box-shadow: 0px 0px;
                    // transition-delay: 300ms;

                    &::before {
                        box-shadow: 0px 0px;
                        // transition-delay: 200ms;
                    }

                    &::after {
                        box-shadow: 0px 0px;
                        // transition-delay: 100ms;
                    }
                }

                .job-left {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    align-content: center;

                    span {
                        background: rgba($lighter-blue, 75%);
                        color: $white;
                        padding: 5px 8px;
                        margin: 10px 0px;
                        font-size: 11pt;

                        i {
                            font-size: inherit;
                            border-radius: 0px;
                            padding: 0px;
                            display: inline;
                            border: none;
                            margin-right: 5px;
                            color: rgba($orange, 85%);
                        }

                        &+span {
                            margin-left: 10px;
                        }
                    }

                    i {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        font-size: 30pt;
                        margin-right: 20px;
                        padding: 5px;
                        border: 2px solid $orange;
                        border-radius: 100px;
                        width: 60px;
                        height: 60px;
                    }

                    .job-info {

                        h3 {
                            margin-top: 0px;
                            margin-bottom: 10px;
                            font-size: 15pt;
                        }
                    }
                }
            }
        }
    }

    .talent {
        padding-bottom: 1.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 1100px;
        margin: 0 auto;

        .talent-jobs {
            display: flex;
            flex-direction: column;
            align-items: center;
            // margin-top: 2em;
            width: 1050px;
            margin: 0 auto;

            .subheader {
                width: 100%;
                margin: 1em 0 0.5em 0;
                text-align: left;
            }

            .tabs {
                // overflow: hidden;
                // box-shadow: 10px 10px $lavender;
                width: 100%;
                position: relative;

                .tab {
                    width: 100%;
                    // color: white;
                    overflow: hidden;

                    input {
                        position: absolute;
                        opacity: 0;
                        z-index: -1;
                    }

                    &-label {
                        display: flex;
                        justify-content: space-between;
                        padding: 1em;
                        background: $lighter-blue;
                        font-weight: bold;
                        cursor: pointer;
                        border: 1px rgba(255, 255, 255, 0.098) solid;

                        /* Icon */
                        &:hover {
                            background: lighten($lighter-blue, 15%);
                        }

                        &::after {
                            content: "\276F";
                            width: 1em;
                            height: 1em;
                            text-align: center;
                            transition: ease all 230ms;
                        }
                    }

                    &-content {
                        display: flex;
                        // flex-direction: column;
                        flex-wrap: wrap;
                        align-items: stretch;

                        max-height: 0;

                        padding: 0 1em;
                        color: $blue;
                        background: white;
                        transition: ease 500ms;

                        a {
                            flex: 1 30%;
                            font-size: 10pt;
                            font-weight: 400;
                            padding: 10px;
                            background: rgb(210, 210, 210);
                            color: $blue;
                            margin: 10px;

                            &:hover {
                                background: rgb(225, 225, 225);
                            }
                        }
                    }

                    &-close {
                        display: flex;
                        justify-content: flex-end;
                        padding: 1em;
                        font-size: 0.75em;
                        background: $blue;
                        cursor: pointer;

                        &:hover {
                            background: darken($orange, 10%);
                        }
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    box-shadow: 6px 6px $lavender;
                    transition: ease all 200ms;

                }

                &::after {
                    content: "";
                    position: absolute;
                    z-index: -2;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    box-shadow: 10px 10px $orange;
                    transition: ease all 200ms;
                }
            }

            input:checked {
                +.tab-label {
                    background: lighten($lighter-blue, 15%);

                    &::after {
                        transform: rotate(90deg);
                    }
                }

                ~.tab-content {
                    max-height: 100vh;
                    padding: 1em;
                }
            }

        }
    }
}

footer {
    background: darken($blue, 3%);
    border-top: 4px solid lighten($lighter-blue, 5%);
    margin-top: 4em !important;


    .footer-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        padding: 2em 0;
        margin: 0 auto;

        .logo {
            flex: 1;
            display: inherit;
            align-content: center;
            justify-content: center;

            img {
                max-width: 100px;
            }

            // filter: hue-rotate(180deg);
            transition: ease filter 200ms;
            flex:1;

            &:hover {
                -webkit-filter: grayscale(100%);
                /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
                filter: brightness(4);
            }
        }

        .social {
            flex: 1;
            display: inherit;
            align-content: center;
            justify-content: center;

            a {
                color: white;
                font-size: 20pt;
                transition: ease all 230ms;

                &+a {
                    margin-left: 20px;
                }

                &:hover {
                    color: $orange;
                }
            }
        }

        .address {
            flex: 1;
            font-weight: 300;
            color: rgba($white, 85%);
        }
    }
}