@import 'tech';
@import 'header';
@import 'overview';
@import 'footer';

main {
    min-height: 600px;
    @include sm {
        padding-top:3em;
    }
}

.who-we-are {
    position: relative;
    min-height: 100vh;
    z-index: 2;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $blue;

    .bg {
        position: absolute;
        z-index: -4;
        top: -7rem;
        left: 0;
        width: 105%;
        min-height: 550px;
        filter: opacity(1);
        background: $blue;
        border-bottom: 1px solid darken($orange, 15%);

        &::before {
            content: "";
            position: absolute;
            z-index: -3;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('./img/groundfloor-min.jpg') no-repeat;
            background-size: 100%;
            background-position: top -40em center;
            background-attachment: absolute;
            filter: opacity(0.3);
        }

        &::after {
            content: "";
            position: absolute;
            z-index: -2;
            left: 0;
            width: 100%;
            height: 100%;
            background: -moz-linear-gradient(to bottom, rgba($blue, 00%) 100%, $blue);
            background: -webkit-linear-gradient(to bottom, rgba($blue, 00%) 100%, $blue);
            background: linear-gradient(to bottom, rgba($blue, 00%) 100%, $blue);
        }
    }

    .staff {
        position: relative;
        margin-top: 5em !important;
        display: flex;
        flex-direction: column;
        max-width: 1100px;
        margin: 0 auto;

        hr {
            width: 90%;
            margin: 0 auto;
        }

        h1 {
            text-align: center;
            align-self: center;
        }

        .staff-cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            .card {
                position: relative;
                flex: 1 33%;
                height: 300px;
                overflow: hidden;
                max-width: 330px;
                margin: 1em;

                @include lg {
                    flex: 1 30%;
                }

                h3 {
                    position: absolute;
                    z-index: 2;
                    bottom: 20px;
                    left: 20px;
                    transition: ease all 230ms;
                    background: $orange;
                    padding: 10px;
                }

                h5 {
                    font-size: 11pt;
                    font-weight: 200;
                    position: absolute;
                    z-index: 3;
                    bottom: 20px;
                    left: 20px;
                    transform: translateY(130px);
                    transition: ease all 230ms;
                    text-shadow: 2px 2px black;
                }

                img {
                    position: relative;
                    z-index: 1;
                    object-fit: contain;
                    width: 100%;
                }

                &:hover {
                    h3 {
                        transform: translateY(-30px);
                    }

                    h5 {
                        transform: translateY(0px);
                    }
                }
            }
        }


    }
}

.jobs-wrapper {
    position: relative;
    z-index: 2;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $blue;

    .bg {
        position: absolute;
        z-index: -4;
        top: -7rem;
        left: 0;
        width: 100%;
        min-height: 550px;
        filter: opacity(1);
        border-bottom: 1px solid darken($orange, 15%);

        &::before {
            content: "";
            position: absolute;
            // z-index: -3;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('./img/front-full-min.jpg') no-repeat;
            background-size: 100%;
            background-position: top -70px right;
            filter: opacity(0.3);
            background-attachment: absolute;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background: -moz-linear-gradient(to bottom, rgba($blue, 00%) 100%, $blue);
            background: -webkit-linear-gradient(to bottom, rgba($blue, 00%) 100%, $blue);
            background: linear-gradient(to bottom, rgba($blue, 00%) 100%, $blue);
        }
    }

    .jobs {
        padding-top: 4.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 1050px;
        margin: 0 auto;

        hr {
            width: 90%;
            margin: 0 auto;
        }

        h1 {
            text-align: center;
            align-self: center;
        }

        p {
            text-align: center;
            font-weight: 300;
        }

        .job-cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 1050px;
            margin: 0 auto;



            .job {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background: white;
                color: $blue;
                width: 100%;
                padding: 1.5em 1.5em;
                transition: ease all 200ms;

                &:nth-child(2n) {
                    background: rgb(233, 233, 233);
                }

                &::before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    box-shadow: 0px 0px;
                    transition: ease all 200ms;
                }

                &::after {
                    content: "";
                    position: absolute;
                    z-index: -2;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    transition: ease all 200ms;
                }

                &:hover {
                    transform: translate(-10px, -10px);
                    box-shadow: 0px 0px;
                    cursor: default;

                    &::before {
                        box-shadow: 6px 6px $lavender;
                    }

                    &::after {
                        box-shadow: 10px 10px $orange;
                    }
                }

                .job-left {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    align-content: center;

                    span {
                        background: rgba($lighter-blue, 75%);
                        color: $white;
                        padding: 5px 8px;
                        margin: 10px 0px;
                        font-size: 10pt;

                        i {
                            font-size: inherit;
                            border-radius: 0px;
                            padding: 0px;
                            display: inline;
                            border: none;
                            margin-right: 5px;
                            color: rgba($orange, 85%);
                        }

                        &+span {
                            margin-left: 10px;
                        }
                    }

                    i {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        font-size: 30pt;
                        margin-right: 20px;
                        padding: 5px;
                        border: 2px solid $orange;
                        border-radius: 100px;
                        width: 60px;
                        height: 60px;
                    }

                    .job-info {

                        h3 {
                            margin-top: 0px;
                            margin-bottom: 10px;
                            font-size: 15pt;
                        }
                    }
                }
            }
        }
    }

    .talent {
        padding-bottom: 1.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 1050px;
        margin: 0 auto;

        .talent-jobs {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 1050px;
            margin: 0 auto;

            .subheader {
                width: 100%;
                margin: 1em 0 0.5em 0;
                text-align: left;
            }

            .tabs {
                width: 100%;
                position: relative;
                background: linear-gradient(140deg, $lighter-blue, lighten($blue, 5%));

                .tab {
                    width: 100%;
                    overflow: hidden;

                    input {
                        position: absolute;
                        opacity: 0;
                        z-index: -1;
                    }

                    &-label {
                        display: flex;
                        justify-content: space-between;
                        padding: 1em;
                        // background: $lighter-blue;
                        background: transparent;
                        font-weight: bold;
                        cursor: pointer;
                        border: 1px rgba(255, 255, 255, 0.098) solid;

                        &:hover {
                            background: rgba($lighter-blue, 95%);
                        }

                        &::after {
                            content: "\276F";
                            width: 1em;
                            height: 1em;
                            text-align: center;
                            transition: ease all 230ms;
                        }
                    }

                    &-content {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: stretch;

                        max-height: 0;

                        padding: 0 1em;
                        color: $blue;
                        background: white;
                        transition: ease all 500ms;

                        a {
                            flex: 1 30%;
                            font-size: 10pt;
                            font-weight: 400;
                            padding: 10px;
                            background: rgb(210, 210, 210);
                            color: $blue;
                            margin: 10px;

                            &:hover {
                                background: rgb(225, 225, 225);
                            }
                        }
                    }

                    &-close {
                        display: flex;
                        justify-content: flex-end;
                        padding: 1em;
                        font-size: 0.75em;
                        background: $blue;
                        cursor: pointer;

                        &:hover {
                            background: darken($orange, 10%);
                        }
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    // box-shadow: 6px 6px $lavender;
                    transition: ease all 200ms;

                }

                &::after {
                    content: "";
                    position: absolute;
                    z-index: -2;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    // box-shadow: 10px 10px $orange;
                    transition: ease all 200ms;
                }
            }

            input:checked {
                +.tab-label {
                    background: rgba($lighter-blue, 95%);

                    &::after {
                        transform: rotate(90deg);
                    }
                }

                ~.tab-content {
                    max-height: 100vh;
                    padding: 1em;
                }
            }

        }
    }
}

.office-culture-wrapper {
    position: relative;
    z-index: 2;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $blue;

    .bg {
        position: absolute;
        z-index: -4;
        top: -7rem;
        left: 0;
        width: 100%;
        min-height: 550px;
        filter: opacity(1);
        border-bottom: 1px solid darken($orange, 15%);

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('./img/front-full-min.jpg') no-repeat;
            background-size: 100%;
            background-position: top -70px right;
            filter: opacity(0.3);
            background-attachment: absolute;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background: -moz-linear-gradient(to bottom, rgba($blue, 00%) 100%, $blue);
            background: -webkit-linear-gradient(to bottom, rgba($blue, 00%) 100%, $blue);
            background: linear-gradient(to bottom, rgba($blue, 00%) 100%, $blue);
        }
    }

    .content {
        padding-top: 4.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 1050px;
        margin: 0 auto;

        hr {
            width: 90%;
            margin: 0 auto;
        }

        h1 {
            text-align: center;
            align-self: center;
        }

        p {
            text-align: center;
            font-weight: 300;
        }

        .subheader {
            margin-bottom: 0px;

            a {
                color: $white;
                transition: ease all 230ms;

                i {
                    margin-right: 10px;
                    transition: ease transform 230ms;
                }

                &:hover {
                    i {
                        color: $orange;
                        transform: translateX(-5px);
                    }
                }
            }
        }

        .details {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            color: $blue;
            margin-top: 1em;
            align-items: flex-start;
            background: $white;
            padding: 2em 3em 3em 3em;

            h2,
            p {
                text-align: left;


            }

            .white-text {
                h2 {
                    color: $white;
                }
            }

            h2 {
                margin: 0.5em 0 0.5em 0;
                font-family: 'Lato', sans-serif;
                // font-weight: 600;
                font-size: 21pt;
                position: relative;
                z-index: 5;
                padding: 5px 10px;

                .h2-bg {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    bottom: 0px;
                    left: 0px;
                    padding: 10px;
                    background: $orange;
                    z-index: -1;
                }
            }

            p {
                font-weight: 300;
                font-size: 13pt;
                line-height: 18pt;

                &+p {
                    margin-top: 0.5em;
                }
            }

            hr {
                margin: 1em 0;
                width: 100%;
                border-color: rgba($lighter-blue, 20%);
            }

            ul,
            ol {
                margin-top: 0px;

                li {
                    margin: 1em 0 0.5em 0;
                    font-size: 13pt;
                    font-weight: 300;
                }
            }

            .bold-ul {
                li {
                    font-weight: 400;
                }
            }

            ul {
                list-style-type: square;

                p {
                    margin-left: 1em;
                }
            }
        }
    }

    h3 {
        margin: 1.5em 0 0.2em 0;
    }
}

.job-wrapper {
    position: relative;
    z-index: 2;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $blue;

    .bg {
        position: absolute;
        z-index: -4;
        top: -7rem;
        left: 0;
        width: 100%;
        min-height: 550px;
        filter: opacity(1);
        border-bottom: 1px solid darken($orange, 15%);

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('./img/front-full-min.jpg') no-repeat;
            background-size: 100%;
            background-position: top -70px right;
            filter: opacity(0.3);
            background-attachment: absolute;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background: -moz-linear-gradient(to bottom, rgba($blue, 00%) 100%, $blue);
            background: -webkit-linear-gradient(to bottom, rgba($blue, 00%) 100%, $blue);
            background: linear-gradient(to bottom, rgba($blue, 00%) 100%, $blue);
        }
    }

    .position-info {
        padding-top: 4.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 1050px;
        margin: 0 auto;

        hr {
            width: 90%;
            margin: 0 auto;
        }

        h1 {
            text-align: center;
            align-self: center;
        }

        p {
            text-align: center;
            font-weight: 300;
        }

        .subheader {
            margin-bottom: 0px;

            a {
                color: $white;
                transition: ease all 230ms;

                i {
                    margin-right: 10px;
                    transition: ease transform 230ms;
                }

                &:hover {
                    i {
                        color: $orange;
                        transform: translateX(-5px);
                    }
                }
            }
        }

        .details {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            color: $blue;
            margin-top: 1em;
            align-items: flex-start;
            background: $white;
            padding: 2em 3em 3em 3em;

            h2,
            p {
                text-align: left;
            }

            .white-text {
                h2 {
                    color: $white;
                }
            }

            h2 {
                margin: 10px 0;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                font-size: 21pt;
                position: relative;
                z-index: 5;
                padding: 5px 10px;

                .h2-bg {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    bottom: 0px;
                    left: 0px;
                    padding: 10px;
                    background: $orange;
                    z-index: -1;
                }
            }

            p {
                font-weight: 300;
                font-size: 13pt;
                line-height: 18pt;

                &+p {
                    margin-top: 0.5em;
                }
            }

            hr {
                margin: 1em 0;
                width: 100%;
                border-color: rgba($lighter-blue, 20%);
            }

            ul {
                list-style-type: square;
                margin-top: 0px;

                li {
                    margin: 0.5em 0 1em 0;
                    font-weight: 300;
                    font-size: 13pt;
                }
            }

            .benefits {
                span {
                    display: inline-block;
                    padding: 8px 12px;
                    margin: 5px;
                    background: rgb(210, 210, 210);
                    transition: ease all 230ms;
                    cursor: pointer;

                    i {
                        color: $orange;
                        margin-right: 10px;
                    }

                    &:hover {
                        color: $lighter-blue;
                        background: rgb(225, 225, 225);
                    }
                }
            }

            .apply-cta {
                margin-top: 10px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;

                h2,
                p {
                    text-align: center;
                }
            }
        }
    }

    h3 {
        margin-bottom: 10px;
    }
}

.apply-wrapper {
    position: relative;
    z-index: 2;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $blue;

    .bg {
        position: absolute;
        z-index: -4;
        top: -7rem;
        left: 0;
        width: 100%;
        min-height: 550px;
        filter: opacity(1);
        // mix-blend-mode: darken;
        border-bottom: 1px solid darken($orange, 15%);

        &::before {
            content: "";
            position: absolute;
            // z-index: -3;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('./img/front-full-min.jpg') no-repeat;
            background-size: 100%;
            background-position: top -70px right;
            filter: opacity(0.3);
            background-attachment: absolute;

            // filter: grayscale(100%);
            // filter: hue-rotate(240deg);
        }

        &::after {
            content: "";
            position: absolute;
            // z-index: -2;
            // top: -15.5em;
            left: 0;
            width: 100%;
            height: 100%;
            // background: -moz-linear-gradient(to bottom, rgba($blue, 00%) 60%, $blue);
            // background: -webkit-linear-gradient(to bottom, rgba($blue, 00%) 60%, $blue);
            // background: linear-gradient(to bottom, rgba($blue, 00%) 60%, $blue);
            background: -moz-linear-gradient(to bottom, rgba($blue, 00%) 100%, $blue);
            background: -webkit-linear-gradient(to bottom, rgba($blue, 00%) 100%, $blue);
            background: linear-gradient(to bottom, rgba($blue, 00%) 100%, $blue);
        }
    }

    .apply {
        padding-top: 4.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 1050px;
        margin: 0 auto;

        hr {
            width: 90%;
            margin: 0 auto;
        }

        h1 {
            text-align: center;
            align-self: center;
        }

        p {
            text-align: center;
            font-weight: 300;
        }

        .apply-info {
            // margin: 0 2em;
            display: flex;
            flex-direction: row;
            justify-content: center;
            color: $blue;
            margin-top: 1em;

            .address,
            .phone-number {
                background: $white;
                display: flex;
                flex-direction: column;
                // align-self: stretch;
                position: relative;
                width: 230px;
                overflow: hidden;
                flex: 1;

                i {
                    position: absolute;
                    right: 3rem;
                    top: 2rem;
                    z-index: 6;
                    font-size: 50pt;
                    //    margin-right:4.5rem;
                    transform: translateY(-100px);
                    transition: ease all 230ms;
                    color: rgba($white, 60%);
                }

                .fa-map-marker-alt {
                    margin-right: 2rem;
                }

                &:hover {
                    i {
                        transform: translateY(0px);
                    }

                    // mix-blend-mode: difference;
                    color: $white;
                    transition: ease all 100ms;

                    &::after {
                        width: 600px;
                        transition-delay: 100ms;

                    }

                    &::before {
                        width: 600px;

                    }

                }

            }

            .phone-number {
                padding: 1em 2em 0em 3em;

                &::before {
                    position: absolute;
                    content: '';
                    z-index: 3;
                    top: 0px;
                    left: 0px;
                    width: 30px;
                    height: 100%;
                    background: $orange;
                    transition: ease all 400ms;
                }

                &::after {
                    position: absolute;
                    content: '';
                    z-index: 4;
                    top: 0px;
                    left: 0px;
                    width: 10px;
                    height: 100%;
                    background: $blue;
                    transition: ease all 600ms;
                    transition-delay: 100ms;
                }
            }

            .address {
                padding: 1em 2em 0em 1.5em;

                &::before {
                    position: absolute;
                    content: '';
                    z-index: 3;
                    top: 0px;
                    right: 0px;
                    width: 30px;
                    height: 100%;
                    background: $orange;
                    transition: ease all 400ms;
                }

                &::after {
                    position: absolute;
                    content: '';
                    z-index: 4;
                    top: 0px;
                    right: 0px;
                    width: 10px;
                    height: 100%;
                    background: $blue;
                    transition: ease all 600ms;
                    transition-delay: 100ms;
                }
            }

            h2,
            p {
                position: relative;
                z-index: 5;
                transition: ease all 370ms;
                cursor: default;
            }

            h2 {
                margin-top: 1em;
                font-size: 20pt;
                line-height: 8pt;


                &+h2 {
                    margin-top: 0em;

                }

                &.hours {
                    color: rgba(138, 138, 138, 0.6);
                }
            }

            p {
                text-align: left;

            }
        }
    }

    .apply-form {
        margin-top: 1em !important;
        padding-bottom: 2.5rem;
        position: relative;
        display: flex;
        flex-direction: column;


        form {
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 2em;
            background: $white;

            .form-top {
                color: $blue;
                font-weight: 300;
                font-size: 18pt;
                margin-bottom: 0.5em;
            }

            .name,
            .email,
            .phone,
            .position-select,
            .code-links,
            .upload-area,
            .projects,
            .project {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: 0.5em 0;
                background: darken($white, 5%);
                border: 2px solid darken($white, 8%);
                color: $blue;
                padding: 1em;

                p {
                    font-weight: 400;
                    font-size: 14pt;
                    margin-bottom: 5px;
                    padding-left: 10px;
                    text-transform: capitalize;
                }

                .dual-inputs {
                    display: flex;
                    flex-direction: row;

                    .user-input {
                        position: relative;
                        flex: 1;

                        &:nth-child(1) {
                            margin-right: 5px;
                        }

                        &:nth-child(2) {
                            margin-left: 5px;
                        }

                        input[type=text] {
                            width: 100%;
                            color: $blue;
                            font-size: 20pt;
                            font-family: inherit;
                            background-color: transparent;
                            border: 2px solid transparent;
                            border-bottom-color: rgba($orange, 0.2);
                            margin-left: 0px;

                            &:focus {
                                outline: none;
                            }

                            &::placeholder {
                                color: hsla(0, 0%, 51%, 0.7);
                            }

                        }

                        span {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 3px;
                            background-color: $orange;
                            transform-origin: bottom right;
                            transform: scaleX(0);
                            transition: transform 0.5s ease;
                        }

                        input:focus~span {
                            transform-origin: bottom left;
                            transform: scaleX(1);
                        }

                    }
                }

                .upload {
                    border-bottom: none;
                }

                .upload-wrapper {

                    input[type=file] {
                        font-size: 14pt !important;
                        border-bottom: none;
                        border-bottom-color: transparent;

                    }
                }

                .user-input {
                    position: relative;

                    input {
                        padding-left: 10px;
                        width: 100%;
                        color: $blue;
                        font-size: 20pt;
                        font-family: inherit;
                        background-color: transparent;
                        border: 2px solid transparent;
                        border-bottom-color: rgba($orange, 0.2);

                        &:focus {
                            outline: none;
                        }

                        &::placeholder {
                            color: hsla(0, 0%, 51%, 0.7);
                        }

                    }

                    select {
                        margin-left: 10px;
                        width: 100%;
                        height: 50px !important;
                        padding: 1em 0;
                        color: $blue;
                        font-size: 13pt;
                        font-family: inherit;
                        border: 2px solid transparent !important;
                        border-bottom-color: rgba($orange, 0.2) !important;
                        border-radius: 0px !important;
                        background: transparent;
                        @include lg {
                            height:auto !important;
                        }
                    }


                    span {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 3px;
                        background-color: $orange;
                        transform-origin: bottom right;
                        transform: scaleX(0);
                        transition: transform 0.5s ease;
                    }

                    input:focus~span {
                        transform-origin: bottom left;
                        transform: scaleX(1);
                    }
                }
            }

            .projects {
                position: relative;

                #add-project,
                #del-project {
                    position: absolute;

                    padding: 10px;
                    background: $orange;
                    cursor: pointer;
                    transition: ease all 230ms;

                    &:hover {
                        background: lighten($orange, 5%);
                    }
                }

                #add-project {
                    bottom: 1em;
                    left: 1em;
                    z-index: 3;
                }

                #del-project {
                    bottom: 1em;
                    right: 1em;
                }

                .project {
                    background: rgba($white, 25%);

                    p {
                        font-size: 12pt;
                    }

                    input {
                        font-size: 16pt;
                    }

                    .message {
                        background: none;
                        padding: 0px;

                        textarea {
                            border-top: 2px solid rgba($orange, 0.2);
                            border-bottom: 2px solid rgba($orange, 0.2);
                            font-size: 16pt;
                            border-left: 0px solid transparent;
                            border-right: 0px solid transparent;
                        }
                    }

                }
            }

            .name {
                .user-input {
                    position: relative;

                }
            }

            .message {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: 1em 0 0.5em 0;
                background: darken($white, 5%);
                color: $blue;
                padding: 1em;
                position: relative;

                p {
                    font-weight: 400;
                    font-size: 14pt;
                    margin-bottom: 5px;
                }

                .user-input {
                    position: relative;

                    textarea {
                        width: 100%;
                        color: $blue;
                        font-size: 20pt;
                        background-color: transparent;
                        padding: 0.35em 0.45em;
                        border: 2px solid rgba($orange, 0.2);

                        transition: background-color 0.3s ease-in-out;
                        resize: vertical;

                        &:focus {
                            outline: none;
                        }

                        &::placeholder {
                            color: hsla(0, 0%, 51%, 0.7);
                        }

                    }

                    span {
                        position: absolute;
                        background-color: $orange;
                        transform-origin: center;
                        transition: transform 0.5s ease;

                        &.bottom,
                        &.top {
                            height: 3px;
                            left: 0;
                            right: 0;
                            transform: scaleX(0);
                        }

                        &.left,
                        &.right {
                            width: 3px;
                            top: 0;
                            bottom: 0;
                            transform: scaleY(0);
                        }

                        &.bottom {
                            bottom: 0;
                        }

                        &.right {
                            right: 0;
                        }

                        &.top {
                            top: 0;
                        }

                        &.left {
                            left: 0;
                        }
                    }

                    textarea:focus~.top,
                    textarea:focus~.bottom {
                        transform: scaleX(1);
                    }

                    textarea:focus~.left,
                    textarea:focus~.right {
                        transform: scaleY(1);
                    }

                }
            }

            .anything-else {
                border: 2px solid darken($white, 8%);

                p {
                    padding-left: 10px;
                }
            }

            button {
                margin-top: 1em;
                display: flex;
                flex-direction: row;
                align-items: center;

                i {
                    font-size: 18pt;
                    position: relative;
                    margin-left: 15px;
                    transition: ease all 230ms;
                }

                &:hover {
                    i {
                        transform: translateX(10px);
                    }

                    &::after {
                        transition: transform 0.50s ease-in-out;
                        transform: translate3d(500%, 0, 0) rotate(35deg);
                    }
                }
            }
        }

        .checkboxes {
            margin-top: 1em;

            label {
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 12px;
                cursor: pointer;
                font-size: 22px;
                user-select: none;
                color: $blue;

                a {
                    color: $lighter-blue;
                    transition: ease all 230ms;

                    &:hover {
                        color: $orange;
                    }
                }
            }

            label input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: darken($white, 10%);
            }

            label:hover input~.checkmark {
                background-color: darken($white, 15%);
            }

            label input:checked~.checkmark {
                background-color: $lighter-blue;
            }

            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }

            label input:checked~.checkmark:after {
                display: block;
            }

            label .checkmark:after {
                left: 9px;
                top: 5px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }

    .subheader {
        margin-top: 0px;
        margin-bottom: 10px;

        a {
            color: $white;
            transition: ease all 230ms;

            i {
                margin-right: 10px;
                transition: ease transform 230ms;
            }

            &:hover {

                i {
                    color: $orange;
                    transform: translateX(-5px);
                }
            }
        }
    }
}

.contact-wrapper {
    position: relative;
    z-index: 2;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $blue;

    .bg {
        position: absolute;
        z-index: -4;
        top: -7rem;
        left: 0;
        width: 100%;
        min-height: 550px;
        filter: opacity(1);
        border-bottom: 1px solid darken($orange, 15%);

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('./img/spokane-min.jpg') no-repeat;
            background-size: 100%;
            background-position: top center;
            filter: opacity(0.3);
            background-attachment: absolute;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background: -moz-linear-gradient(to bottom, rgba($blue, 00%) 100%, $blue);
            background: -webkit-linear-gradient(to bottom, rgba($blue, 00%) 100%, $blue);
            background: linear-gradient(to bottom, rgba($blue, 00%) 100%, $blue);
        }
    }

    .contact-us {
        padding-top: 4.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 1050px;
        margin: 0 auto;

        hr {
            width: 90%;
            margin: 0 auto;
        }

        h1 {
            text-align: center;
            align-self: center;
        }

        p {
            text-align: center;
            font-weight: 300;
        }

        .contact-info {
            display: flex;
            flex-direction: row;
            justify-content: center;
            color: $blue;
            margin-top: 1em;

            .address,
            .phone-number {
                background: $white;
                display: flex;
                flex-direction: column;
                position: relative;
                width: 230px;
                overflow: hidden;
                flex: 1;

                i {
                    position: absolute;
                    right: 3rem;
                    top: 2rem;
                    z-index: 6;
                    font-size: 50pt;
                    transform: translateY(-100px);
                    transition: ease all 230ms;
                    color: rgba($white, 60%);
                }

                .fa-map-marker-alt {
                    margin-right: 2rem;
                }

                &:hover {
                    i {
                        transform: translateY(0px);
                    }

                    color: $white;
                    transition: ease all 100ms;

                    &::after {
                        width: 600px;
                        transition-delay: 100ms;

                    }

                    &::before {
                        width: 600px;

                    }

                }

            }

            .phone-number {
                padding: 1em 2em 0em 3em;

                &::before {
                    position: absolute;
                    content: '';
                    z-index: 3;
                    top: 0px;
                    left: 0px;
                    width: 30px;
                    height: 100%;
                    background: $orange;
                    transition: ease all 400ms;
                }

                &::after {
                    position: absolute;
                    content: '';
                    z-index: 4;
                    top: 0px;
                    left: 0px;
                    width: 10px;
                    height: 100%;
                    background: $blue;
                    transition: ease all 600ms;
                    transition-delay: 100ms;
                }
            }

            .address {
                padding: 1em 2em 0em 1.5em;

                &::before {
                    position: absolute;
                    content: '';
                    z-index: 3;
                    top: 0px;
                    right: 0px;
                    width: 30px;
                    height: 100%;
                    background: $orange;
                    transition: ease all 400ms;
                }

                &::after {
                    position: absolute;
                    content: '';
                    z-index: 4;
                    top: 0px;
                    right: 0px;
                    width: 10px;
                    height: 100%;
                    background: $blue;
                    transition: ease all 600ms;
                    transition-delay: 100ms;
                }
            }

            h2,
            p {
                position: relative;
                z-index: 5;
                transition: ease all 370ms;
                cursor: default;
            }

            h2 {
                margin-top: 1em;
                font-size: 20pt;
                line-height: 8pt;


                &+h2 {
                    margin-top: 0em;

                }

                &.hours {
                    color: rgba(138, 138, 138, 0.6);
                }
            }

            p {
                text-align: left;

            }
        }
    }

    .contact-form {
        margin-top: 1em !important;

        padding-bottom: 2.5rem;
        position: relative;
        display: flex;
        flex-direction: column;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2em;
            background: $white;

            .form-top {
                color: $blue;
                font-weight: 300;
                font-size: 18pt;
                margin-bottom: 0.5em;
            }

            .name {
                .user-input {
                    position: relative;

                    input {
                        text-transform: capitalize;

                    }
                }
            }

            .name,
            .email {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: 0.5em 0;
                background: darken($white, 15%);
                color: $blue;
                padding: 1em;

                p {
                    font-weight: 400;
                    font-size: 14pt;
                    margin-bottom: 5px;

                }

                .user-input {
                    position: relative;

                    input {
                        padding-left: 10px;
                        width: 100%;
                        color: $blue;
                        font-size: 20pt;
                        font-family: inherit;
                        background-color: transparent;
                        border: 2px solid transparent;
                        border-bottom-color: rgba($orange, 0.2);

                        &:focus {
                            outline: none;
                        }

                        &::placeholder {
                            color: hsla(0, 0%, 51%, 0.7);
                        }

                    }

                    span {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 3px;
                        background-color: $orange;
                        transform-origin: bottom right;
                        transform: scaleX(0);
                        transition: transform 0.5s ease;
                    }

                    input:focus~span {
                        transform-origin: bottom left;
                        transform: scaleX(1);
                    }
                }
            }

            .message {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: 0.5em 0;
                background: darken($white, 15%);
                color: $blue;
                padding: 1em;

                p {
                    font-weight: 400;
                    font-size: 14pt;
                    margin-bottom: 5px;
                }

                .user-input {
                    position: relative;

                    textarea {
                        width: 100%;
                        color: $blue;
                        font-size: 20pt;
                        background: transparent;
                        padding: 0.35em 0.45em;
                        border: 2px solid rgba($orange, 0.2);
                        transition: background-color 0.3s ease-in-out;
                        resize: vertical;

                        &:focus {
                            outline: none;
                        }

                        &::placeholder {
                            color: hsla(0, 0%, 51%, 0.7);
                        }

                    }

                    span {
                        position: absolute;
                        background-color: $orange;
                        transition: transform 0.1s ease;

                        &.bottom,
                        &.top {
                            height: 3px;
                            left: 0;
                            right: 0;
                            transform: scaleX(0);
                        }

                        &.left,
                        &.right {
                            width: 3px;
                            top: 0;
                            bottom: 0;
                            transform: scaleY(0);
                        }

                        &.bottom {
                            bottom: 0;
                            transform-origin: bottom right;
                        }

                        &.right {
                            right: 0;
                            transform-origin: top right;
                            transition-delay: 0.05s;
                        }

                        &.top {
                            top: 0;
                            transform-origin: top left;
                            transition-delay: 0.15s;
                        }

                        &.left {
                            left: 0;
                            transform-origin: bottom left;
                            transition-delay: 0.25s;
                        }
                    }

                    textarea:focus~.bottom {
                        transform-origin: bottom left;
                        transform: scaleX(1);
                    }

                    textarea:focus~.right {
                        transform-origin: bottom right;
                        transform: scaleY(1);
                    }

                    textarea:focus~.top {
                        transform-origin: top right;
                        transform: scaleX(1);
                    }

                    textarea:focus~.left {
                        transform-origin: top left;
                        transform: scaleY(1);
                    }

                }
            }

            button {
                margin-top: 1em;
                display: flex;
                flex-direction: row;
                align-items: center;

                i {
                    font-size: 18pt;
                    position: relative;
                    margin-left: 15px;
                    transition: ease all 230ms;
                }

                &:hover {
                    i {
                        transform: translateX(10px);
                    }

                    &::after {
                        transition: transform 0.50s ease-in-out;
                        transform: translate3d(500%, 0, 0) rotate(35deg);
                    }
                }
            }
        }
    }

    h3 {
        margin-bottom: 10px;
    }
}