// project root 
// └── src/style.scss // base style control file. pages will use this to pull classes for the entire site.
//// ├──css/tech.scss // modular & universal classes
//// ├──css/header.scss // css rules for header area and menu/mobile menu
//// ├──css/overview.scss // overview page classes
//// ├──css/who-we-are.scss // who we are page classes
//// ├──css/jobs.scss // jobs page classes
//// ├──css/office-culture.scss // two office culture/project management page classes
//// ├──css/job.scss // job page classes
//// ├──css/apply.scss // apply page classes
//// ├──css/contact.scss // contact page classes
//// ├──css/footer.scss // footer area classes

// import global variable classes
@import 'css/tech';
// import header area classes
@import 'css/header';
// import overview page classes
@import 'css/overview';
// import who we are page classes
@import 'css/who-we-are';
// import jobs page classes
@import 'css/jobs';
// import the two office culture/project management page classes
@import 'css/office-culture';
// import job page classes
@import 'css/job';
// import apply page classes
@import 'css/apply';
// import contact page classes
@import 'css/contact';
// import footer area classes
@import 'css/footer';

main {

    min-height: 600px;

    @include sm {
        padding-top: 0em;
        // overflow-x: hidden;
    }

    @include md {
        padding-top: 0em;
        // overflow-x: hidden;
        width: 100vw;
    }
}